
<form action="{% url 'home' %}" method="post">
    <h1>Elije un día de la semana y un tipo de comida:</h1>
    {% csrf_token %}
    <select name="tipo_comida">
        {% for tipo_comida in tipos_comida %}
            <option value="{{ tipo_comida.id }}">{{ tipo_comida.nombre }}</option>
        {% endfor %}
    </select>
    <select name="dia_semana">
        {% for dia_semana in dias_semana %}
            <option value="{{ dia_semana.0 }}">{{ dia_semana.1 }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Aceptar">
    <h2>{{ resultado }}</h2>
</form>
