<form action="{% url 'home' %}" method="post">
    <h1>Elije un día de la semana y un tipo de comida:</h1>
    {% csrf_token %}
    <select name="tipo_comida">
        {% for tipo_comida in tipos_comida %}
            <option value="{{ tipo_comida.id }}">{{ tipo_comida.nombre }}</option>
        {% endfor %}
    </select>
    <select name="dia_semana">
        <option value=0>Lunes</option>
        <option value=1>Martes</option>
        <option value=2>Miércoles</option>
        <option value=3>Jueves</option>
        <option value=4>Viernes</option>
        <option value=5>Sábado</option>
        <option value=6>Domingo</option>
    </select>
    <input type="submit" value="Aceptar">
    {% comment %} <p>{{ comida }}</p> {% endcomment %}
    <li>
        {% for comida in comidas %}
            <ul>
                {{ comida }}
            </ul>
        {% endfor %}
    </li>
</form>
